.home_img {
    background-image: url('./../assets/maxresdefault.jpg');
    height: 100%;
    position: static;
    background-repeat: no-repeat;
    background-position: center;
}
.home {
    color: brown;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}