header {
  background-color: rgb(243, 231, 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: 1.5em;
}

/*.search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222;
  outline: none;
}

.search:focus {
  border-bottom-color: #fff;
}
*/
.menu {
  display: flex;
  gap: 1em;

}
.me_user{
  width: 300px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #0006, 0 0 8px 2px, #0004;
  display: grid;
  gap: 20px;
  position: relative;
 
}
p {
  color: black;
}